# Python
__pycache__/
*.pyc
*.pyo

# Entorno
.env
venv/
.venv/

# Build
build/
dist/
*.spec

# Firebase (credenciales)
config/
*-firebase-adminsdk-*.json

# Caché local
cache_usuarios.json
cache_registros.json

# IDE
.vscode/

# Tests
.pytest_cache/